{
  "openapi": "3.1.0",
  "info": {
    "title": "Resettle University Ranking API",
    "description": "",
    "version": "1",
    "termsOfService": "https://resettle.ai/terms",
    "contact": {
      "email": "contact@resettle.ai"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://resettle-university-ranking-api.p.rapidapi.com/university-ranking"
    }
  ],
  "externalDocs": {
    "description": "Try our APIs out",
    "url": "https://resettle.ai/dev"
  },
  "security": [
    {
      "RapidAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "RapidAuth": {
        "type": "apiKey",
        "in": "header",
        "description": "If you don't currently have an API key, you can visit https://resettle.ai/dev to acquire a free one",
        "name": "X-RapidAPI-Key"
      }
    },
    "parameters": {
      "RapidHost": {
        "name": "X-RapidAPI-Host",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "resettle-university-ranking-api.p.rapidapi.com"
          ]
        }
      }
    }
  },
  "paths": {
    "/university-ranking/rank": {
      "get": {
        "operationId": "getUniversity-rankingRank",
        "description": "Retrieve universities details by ranking type and rank",
        "responses": {
          "200": {
            "description": "Universities retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "university_id": {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      "slug": {
                        "type": "string",
                        "description": "Unique slug for display purpose"
                      },
                      "name": {
                        "type": "string",
                        "description": "The commonly used name of the university"
                      },
                      "aliases": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Aliases of the university, different rankings might provide their own slightly modified version"
                      },
                      "domain": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "The main website of the university"
                      },
                      "country_code": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 2
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "The country of the university"
                      },
                      "rank": {
                        "type": "object",
                        "properties": {
                          "rank": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991,
                            "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                          },
                          "rank2": {
                            "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "exact",
                              "close-ranged",
                              "open-ranged"
                            ],
                            "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                          }
                        },
                        "required": [
                          "rank",
                          "type"
                        ],
                        "description": "The rank of the university"
                      },
                      "details": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "qs"
                              },
                              "overall_score": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "academic_reputation": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "employer_reputation": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "faculty_student": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "citations_per_faculty": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "international_faculty": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "international_students": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "international_students_diversity": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "international_research_network": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "employment_outcomes": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "sustainability": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              }
                            },
                            "required": [
                              "type"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "times"
                              },
                              "overall_score": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "teaching": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "research": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "citations": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "industry_income": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              },
                              "international_outlook": {
                                "type": "object",
                                "properties": {
                                  "rank": {
                                    "type": "object",
                                    "properties": {
                                      "rank": {
                                        "type": "integer",
                                        "minimum": -9007199254740991,
                                        "maximum": 9007199254740991,
                                        "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                      },
                                      "rank2": {
                                        "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                        "anyOf": [
                                          {
                                            "type": "integer",
                                            "minimum": -9007199254740991,
                                            "maximum": 9007199254740991
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "exact",
                                          "close-ranged",
                                          "open-ranged"
                                        ],
                                        "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                      }
                                    },
                                    "required": [
                                      "rank",
                                      "type"
                                    ],
                                    "description": "The rank of the score"
                                  },
                                  "score": {
                                    "description": "The score value",
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "rank"
                                ]
                              }
                            },
                            "required": [
                              "type"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "shanghai"
                              },
                              "overall_score": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "alumni_score": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "award_score": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "hici_score": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "nns_score": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "pub_score": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "pcp_score": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        ],
                        "description": "The scoring and ranking details"
                      }
                    },
                    "required": [
                      "university_id",
                      "slug",
                      "name",
                      "aliases",
                      "domain",
                      "country_code",
                      "rank",
                      "details"
                    ]
                  }
                },
                "examples": {
                  "qs-top-1": {
                    "summary": "The QS 2026 rank 1 university",
                    "value": {
                      "aliases": [
                        "MIT"
                      ],
                      "country_code": "US",
                      "details": {
                        "academic_reputation": {
                          "rank": {
                            "rank": 4,
                            "type": "exact"
                          },
                          "score": 100
                        },
                        "citations_per_faculty": {
                          "rank": {
                            "rank": 7,
                            "type": "exact"
                          },
                          "score": 100
                        },
                        "employer_reputation": {
                          "rank": {
                            "rank": 2,
                            "type": "exact"
                          },
                          "score": 100
                        },
                        "employment_outcomes": {
                          "rank": {
                            "rank": 7,
                            "type": "exact"
                          },
                          "score": 100
                        },
                        "faculty_student": {
                          "rank": {
                            "rank": 16,
                            "type": "exact"
                          },
                          "score": 100
                        },
                        "international_faculty": {
                          "rank": {
                            "rank": 63,
                            "type": "exact"
                          },
                          "score": 100
                        },
                        "international_research_network": {
                          "rank": {
                            "rank": 98,
                            "type": "exact"
                          },
                          "score": 94.1
                        },
                        "international_students": {
                          "rank": {
                            "rank": 153,
                            "type": "exact"
                          },
                          "score": 91.6
                        },
                        "international_students_diversity": {
                          "rank": {
                            "rank": 130,
                            "type": "exact"
                          },
                          "score": 92.3
                        },
                        "overall_score": 100,
                        "sustainability": {
                          "rank": {
                            "rank": 33,
                            "type": "exact"
                          },
                          "score": 93.8
                        },
                        "type": "qs"
                      },
                      "domain": "http://web.mit.edu/",
                      "name": "Massachusetts Institute of Technology",
                      "rank": {
                        "rank": 1,
                        "type": "exact"
                      },
                      "slug": "us-massachusetts-institute-of-technology",
                      "university_id": "f848e3c2-e13a-4dc8-951e-476d567c00f7"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "ranking",
            "schema": {
              "type": "string",
              "enum": [
                "qs",
                "times",
                "shanghai"
              ]
            },
            "required": true,
            "description": "The ranking"
          },
          {
            "in": "query",
            "name": "value",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            },
            "required": true,
            "description": "The rank"
          }
        ]
      }
    },
    "/university-ranking/query": {
      "get": {
        "operationId": "getUniversity-rankingQuery",
        "description": "Query university",
        "responses": {
          "200": {
            "description": "University retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "university_id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Unique slug for display purpose"
                    },
                    "name": {
                      "type": "string",
                      "description": "The commonly used name of the university"
                    },
                    "aliases": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Aliases of the university, different rankings might provide their own slightly modified version"
                    },
                    "domain": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "The main website of the university"
                    },
                    "country_code": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 2,
                          "maxLength": 2
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "The country of the university"
                    },
                    "rankings": {
                      "type": "object",
                      "properties": {
                        "qs": {
                          "description": "The QS ranking information of the university",
                          "type": "object",
                          "properties": {
                            "rank": {
                              "type": "object",
                              "properties": {
                                "rank": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991,
                                  "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                },
                                "rank2": {
                                  "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                  "anyOf": [
                                    {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "exact",
                                    "close-ranged",
                                    "open-ranged"
                                  ],
                                  "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                }
                              },
                              "required": [
                                "rank",
                                "type"
                              ],
                              "description": "The QS rank of the university"
                            },
                            "details": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "const": "qs"
                                    },
                                    "overall_score": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "academic_reputation": {
                                      "type": "object",
                                      "properties": {
                                        "rank": {
                                          "type": "object",
                                          "properties": {
                                            "rank": {
                                              "type": "integer",
                                              "minimum": -9007199254740991,
                                              "maximum": 9007199254740991,
                                              "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                            },
                                            "rank2": {
                                              "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                              "anyOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": -9007199254740991,
                                                  "maximum": 9007199254740991
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "exact",
                                                "close-ranged",
                                                "open-ranged"
                                              ],
                                              "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                            }
                                          },
                                          "required": [
                                            "rank",
                                            "type"
                                          ],
                                          "description": "The rank of the score"
                                        },
                                        "score": {
                                          "description": "The score value",
                                          "anyOf": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "rank"
                                      ]
                                    },
                                    "employer_reputation": {
                                      "type": "object",
                                      "properties": {
                                        "rank": {
                                          "type": "object",
                                          "properties": {
                                            "rank": {
                                              "type": "integer",
                                              "minimum": -9007199254740991,
                                              "maximum": 9007199254740991,
                                              "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                            },
                                            "rank2": {
                                              "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                              "anyOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": -9007199254740991,
                                                  "maximum": 9007199254740991
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "exact",
                                                "close-ranged",
                                                "open-ranged"
                                              ],
                                              "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                            }
                                          },
                                          "required": [
                                            "rank",
                                            "type"
                                          ],
                                          "description": "The rank of the score"
                                        },
                                        "score": {
                                          "description": "The score value",
                                          "anyOf": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "rank"
                                      ]
                                    },
                                    "faculty_student": {
                                      "type": "object",
                                      "properties": {
                                        "rank": {
                                          "type": "object",
                                          "properties": {
                                            "rank": {
                                              "type": "integer",
                                              "minimum": -9007199254740991,
                                              "maximum": 9007199254740991,
                                              "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                            },
                                            "rank2": {
                                              "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                              "anyOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": -9007199254740991,
                                                  "maximum": 9007199254740991
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "exact",
                                                "close-ranged",
                                                "open-ranged"
                                              ],
                                              "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                            }
                                          },
                                          "required": [
                                            "rank",
                                            "type"
                                          ],
                                          "description": "The rank of the score"
                                        },
                                        "score": {
                                          "description": "The score value",
                                          "anyOf": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "rank"
                                      ]
                                    },
                                    "citations_per_faculty": {
                                      "type": "object",
                                      "properties": {
                                        "rank": {
                                          "type": "object",
                                          "properties": {
                                            "rank": {
                                              "type": "integer",
                                              "minimum": -9007199254740991,
                                              "maximum": 9007199254740991,
                                              "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                            },
                                            "rank2": {
                                              "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                              "anyOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": -9007199254740991,
                                                  "maximum": 9007199254740991
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "exact",
                                                "close-ranged",
                                                "open-ranged"
                                              ],
                                              "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                            }
                                          },
                                          "required": [
                                            "rank",
                                            "type"
                                          ],
                                          "description": "The rank of the score"
                                        },
                                        "score": {
                                          "description": "The score value",
                                          "anyOf": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "rank"
                                      ]
                                    },
                                    "international_faculty": {
                                      "type": "object",
                                      "properties": {
                                        "rank": {
                                          "type": "object",
                                          "properties": {
                                            "rank": {
                                              "type": "integer",
                                              "minimum": -9007199254740991,
                                              "maximum": 9007199254740991,
                                              "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                            },
                                            "rank2": {
                                              "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                              "anyOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": -9007199254740991,
                                                  "maximum": 9007199254740991
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "exact",
                                                "close-ranged",
                                                "open-ranged"
                                              ],
                                              "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                            }
                                          },
                                          "required": [
                                            "rank",
                                            "type"
                                          ],
                                          "description": "The rank of the score"
                                        },
                                        "score": {
                                          "description": "The score value",
                                          "anyOf": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "rank"
                                      ]
                                    },
                                    "international_students": {
                                      "type": "object",
                                      "properties": {
                                        "rank": {
                                          "type": "object",
                                          "properties": {
                                            "rank": {
                                              "type": "integer",
                                              "minimum": -9007199254740991,
                                              "maximum": 9007199254740991,
                                              "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                            },
                                            "rank2": {
                                              "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                              "anyOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": -9007199254740991,
                                                  "maximum": 9007199254740991
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "exact",
                                                "close-ranged",
                                                "open-ranged"
                                              ],
                                              "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                            }
                                          },
                                          "required": [
                                            "rank",
                                            "type"
                                          ],
                                          "description": "The rank of the score"
                                        },
                                        "score": {
                                          "description": "The score value",
                                          "anyOf": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "rank"
                                      ]
                                    },
                                    "international_students_diversity": {
                                      "type": "object",
                                      "properties": {
                                        "rank": {
                                          "type": "object",
                                          "properties": {
                                            "rank": {
                                              "type": "integer",
                                              "minimum": -9007199254740991,
                                              "maximum": 9007199254740991,
                                              "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                            },
                                            "rank2": {
                                              "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                              "anyOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": -9007199254740991,
                                                  "maximum": 9007199254740991
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "exact",
                                                "close-ranged",
                                                "open-ranged"
                                              ],
                                              "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                            }
                                          },
                                          "required": [
                                            "rank",
                                            "type"
                                          ],
                                          "description": "The rank of the score"
                                        },
                                        "score": {
                                          "description": "The score value",
                                          "anyOf": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "rank"
                                      ]
                                    },
                                    "international_research_network": {
                                      "type": "object",
                                      "properties": {
                                        "rank": {
                                          "type": "object",
                                          "properties": {
                                            "rank": {
                                              "type": "integer",
                                              "minimum": -9007199254740991,
                                              "maximum": 9007199254740991,
                                              "description": "The rank value if the rank type is exact, the lower limit if the rank type is either close ranged or open ranged"
                                            },
                                            "rank2": {
                                              "description": "If the rank type is close ranged, this property is defined and will be the upper limit of the rank",
                                              "anyOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": -9007199254740991,
                                                  "maximum": 9007199254740991
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "exact",
                                                "close-ranged",
                                                "open-ranged"
                                              ],
                                              "description": "The type of the ranking, can be exact (still possible to have multiple universities with the same rank value), close ranged (e.g. rank 101-150 means the university is ranked between 101-150 inclusive), or open-ranged (e.g. rank 1001+ means the university is ranked after 1001 inclusive)"
                                            }
                                          },
                                          "required": [
                                            "rank",
                                            "type"
                                          ],
                                          "description": "The rank of the score"
                                        },
                                        "score": {
                                          "description": "The score value",
                                          "anyOf": [
                                            {
                                              "type": "number"
[...]
